.tiptap-core.ProseMirror {
  hr {
    border: none;
    height: 1px;
    background-color: var(--tt-core-horizontal-line);
    margin: 0;
  }

  [data-type="horizontalRule"] {
    padding-top: 0.75em;
    padding-bottom: 0.75em;
  }
}
