@use "../../styles/tokens" as t;

@mixin content {
  img {
    width: 100%;
    height: auto;
    border-radius: 0.375rem;
  }
}

@mixin editor {
  img {
    &.ProseMirror-selectednode {
      outline: 2px solid t.token("dropcursor");
      outline-offset: 2px;
    }

    &[alt="image-loading-placeholder"] {
      display: block;
      width: auto;
      height: auto;
      margin: 0 auto;
      border-radius: 0.375rem;
    }
  }

  .node-imageUpload.ProseMirror-selectednode {
    outline: 2px solid t.token("dropcursor");
    outline-offset: 2px;
    border-radius: 0.375rem;
  }
}
